.form {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__field {
    min-width: $min-input-width;
    width: $input-width;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    background-color: $bg-input;
    padding: 15px;
    margin: 10px;
    height: $input-height;
  }

  &__choose-file {
    display: none;
  }

  &__file-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
  }

  &__file-button-inner {
    position: relative;
    padding-left: 35px;
    font-size: 15px;
    color: rgb(39, 39, 51);
    text-transform: uppercase;
    line-height: 1.467;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 22px;
      background: url('../img/icon-file.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__range-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  &__range-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__range-title {
    margin: 0;
    margin-right: auto;
    font-size: 18px;
    color: $color-text1;
    line-height: 1.222;
    text-align: left;
    margin-right: 10px;
  }

  &__range-result {
    margin: 0;
    font-size: 18px;
    color: $color-text1;
    line-height: 1.222;
    text-align: left;
  }

  &__choose-file-label {
    padding: 0;
    margin: 0;
  }

  &__submit {
    margin: 0 auto;
    @include btn-1(31.5%);
    min-width: 280px;
    font-size: 15px;
  }
}


@media (min-width: $desktop-width) {
  .form {
    &__wrapper {
      justify-content: space-between;
    }

    &__wrapper2 {
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 50px;
    }
  
    &__field {
      margin: 0;
    }

    &__choose-file-label {
      margin-left: 2.7%;
    }

    &__range-wrapper {
      margin-right: 0;
      margin-bottom: 0;
      flex-grow: 1;
    }
  }
}