.page-content {
  display: flex;
  flex-direction: column;
  
  &__order {
    flex-grow: 1;
    //background-color: $bg-order;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}