.payment-systems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  

  &__item {
    position: relative;
    padding-left: 20px;
    &:not(:last-of-type) {
      margin-right: 20px;
    }

    &--1::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      left: 0;
      top: 0;
      background: url("../img/icon-payment-qiwi.png") no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--2::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: url("../img/icon-payment-ya.png") no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--3::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: url("../img/icon-payment-web.png") no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__link {
    color: $color-text4;
    font-size: 13px;
    line-height: 1.385;
    text-align: left;
  }
}