
$mobile-width: 320px;
$tablet-width: 760px;
$desktop-width: 1170px;
$btn-width: 184px;

$header-height: 100px;
$btn-height: 45px;
$btn-width: 184px;
$input-height: 52px;
$input-width: 31.5%;
$min-input-width: 280px;

$color-text1: #ffffff;
$color-text2: rgb(42, 43, 48);
$color-text3: #3e9cdc;
$color-text4: rgb(187, 187, 187);
$color-secondary: #42a9ed;
$bg-btn-1: #3e9cdc;
$bg-btn-2: rgb(255, 255, 255);
$color-text-btn-1: rgb(255, 255, 255);
$color-text-btn-2: rgb(42, 43, 48);
$bg-footer: #3d4050;
$bg-order: #272733;
$bg-input: rgba(255, 255, 255, 0.851);