.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    position: relative;
    padding-left: 20px;
    color: $color-text1;
    &:not(:last-of-type) {
      margin-right: 20px;
    }

    &--1::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      left: 0;
      top: 0;
      background: url("../../img/icon-mail.png") no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--2::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: url("../../img/icon-vk.png") no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__link {
    color: $color-text4;
    font-size: 13px;
    line-height: 1.385;
    text-align: left;
    color: inherit;
  }
}

@media (min-width: $desktop-width) {
  
  .contacts {
    justify-content: flex-end;
  }
}
