//header
.header {
  position: fixed;
  display: flex;
  left: 0px;
  top: 0;
  background-color: rgb(16, 16, 29);
  opacity: 0.902;
  width: 100vw;
  min-height: $header-height/2;
  z-index: 12;
  color: $color-text1;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    font-size: 28px;
    color: $color-text1;
    text-transform: uppercase;

    &--color {
      color: $color-secondary;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: $header-height;
  }
}