.navigation {
  position: relative;
  color: $color-text1;

  &__list {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 100vh;
    width: 80vw;
    max-width: 250px;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 30px;
  }

  &__link {
    font-size: 13px;
    color: inherit;
    text-transform: uppercase;

    &--active {
      color: $color-secondary;
    }

    &:hover {
      color: $color-secondary;
    }

    &:active {
      color: $color-secondary;
    }
  }

  &__item {
    margin-bottom: 30px;
  }

  &__item:not(:last-of-type) {
    padding-right: 30px;
  }

  &__openbtn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: $color-text1;
  }

  &__closebtn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: $color-text1;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    &__list {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
    }

    &__item {
      margin-bottom: 0;
    }

    &__openbtn {
      display: none;
    }

    &__closebtn {
      display: none;
    }
  }
}