
.form__select-wrapper {
  position: relative;
  font-family: Arial;
  min-width: $min-input-width;
  width: $input-width;
  margin: 10px;
}

.form__select-wrapper .form__select {
  display: none;
}

.select-selected {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  background-color: $bg-btn-2;
  font-size: 16px;
  color: $color-text-btn-2;
  text-transform: uppercase;
  line-height: 1.385;
  text-align: left;
  height: $input-height;
  box-sizing: border-box;
  

  &:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 15px;
    width: 15px;
    height: 7px;
    transform: translateY(-50%);
    background-image: url('../../img/icon-arrow-dark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--open {
    background-color: #3d4050;
    color: $color-text1;
  }

  &--open:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 15px;
    width: 12px;
    height: 7px;
    transform: translateY(-50%);
    background-image: url('../../img/icon-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

/*style the items (options), including the selected item:*/
.select-items li {
  color: $bg-input;
  font-size: 18px;
}
.select-items li,.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  text-align: left;
}

/*style items (options):*/
.select-items {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(61, 64, 80);
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(39, 39, 51, 0.902);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 180px;
  overflow-y: scroll;
  margin-top: -2px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items li:hover, .same-as-selected {
  color: $bg-btn-1;
  font-size: 18px;
  text-align: left;
}

@media (min-width: $desktop-width) {
  .form__select-wrapper {
    margin: 0;
  }
}